/.vscode
/Desafio001.py
/Desafio002.py
/Desafio003.py
/Desafio004.py
/Desafio005.1.py
/Desafio005.py
/Desafio006.py
/Desafio007.py
/Desafio008.1.py
/Desafio008.2.py
/Desafio008.3py
/Desafio009.py
/Desafio010.py
/Desafio011.py
/Desafio012.py